{% extends 'PlantillaBaseMetodos.html' %}
{% block title %}::Cargar Tarea Historia::{% endblock %}
{% block TituloMenu %} CARGAR TAREA HISTORIA {% endblock %}
{% block TituloOperacion %} Formulario Cargar Tarea Historia {% endblock %}
{% block DatosOperacion %}
    <h1> <font color = 'green'>CARGAR TAREA HISTORIA</font></h1>
    <form enctype="multipart/form-data" action="/historia/horas/confirmar/" method="POST">{% csrf_token %}
        <fieldset>
            <dl><dt><label>Nombre: {{ historia.nombre }}</label></dt><dd>
                <input type="hidden" name="nombre_historia" value={{ historia.nombre }}/></dd>
            </dl>

            <dl><dt><label>Tarea:</label></dt>
                <dd><input type="text" name="nombre_tarea" required /></dd>
            </dl>

            <dl><dt><label>Horas trabajadas:</label></dt>
                <dd>
                    <input type="hidden" name="horas" value={{ historia.acumulador }}/>
                    <input type="number" name="horas" min="1" value="1" />
                </dd>
            </dl>

            <dl><dt><label>Descripcion:</label></dt><dd>
                <textarea name="descripcion_tarea" placeholder="Describa la tarea brevemente" rows="10" cols="50" required > {{ descripcion_tarea }}</textarea></dd>
            </dl>

            <dl><dt><label>Adjuntar:</label></dt><dd>
                <input type="checkbox" name="adjuntar" value="false">
                <input type="file" name="adjunto"></dd>
            </dl>
            <!--<dl><dt><label>Prioridad:</label></dt><dd>
                <input type="hidden" name="prioridad_historia" value={{ historia.prioridad }}/></dd>
                <input type="number" name="nuevo_prioridad" min="1" max="10" value={{ historia.prioridad }} /></dd>
            </dl>

            <dl><dt><label>Valor Negocio:</label></dt><dd>
                <input type="hidden" name="negocio_historia" value={{ historia.val_negocio }}/></dd>
                <input type="number" name="nuevo_negocio" min="1" max="10" value={{ historia.val_negocio }} /></dd>
            </dl>

            <dl><dt><label>Valor Tecnico:</label></dt><dd>
                <input type="hidden" name="tecnico_historia" value={{ historia.val_tecnico }}/></dd>
                <input type="number" name="nuevo_tecnico" min="1" max="10" value={{ historia.val_tecnico }} /></dd>
            </dl>

            <dl><dt><label>Size:</label></dt><dd>
                <input type="hidden" name="size_historia" value={{ historia.size }}/></dd>
                <input type="number" name="nuevo_size" min="1" value={{ historia.size }} required/></dd>
            </dl>

            <dl><dt><label>Descripcion:</label></dt><dd>
                <input type="hidden" name="descripcion_historia" value={{ historia.descripcion }} /></dd>
                <input type="text" name="nuevo_descripcion" value={{ historia.descripcion }} /></dd>
            </dl>!-->
        <input type="hidden" name='proyecto' value={{ proyecto.id }} >
        <input type="hidden" name='login' value={{ logueado.id }} >
        <input type="hidden" name='historia' value={{ historia.id }}>
        <input type="submit" value="Cargar horas">
    </form>
    <form action="/historia/actualizacion/" method="POST">{% csrf_token %}
        <input type="hidden" name='proyecto' value={{ proyecto.id }} >
        <input type="hidden" name='login' value={{ logueado.id }} >
        <input type="hidden" name="historia" value={{ historia.id }}>
        <input type="submit" value="<Atras">
    </form>
{% endblock %}