{% extends 'PlantillaBaseMetodos.html' %}
{% block title %}::Crear Historia::{% endblock %}
{% block TituloMenu %} CREAR HISTORIA {% endblock %}
{% block TituloOperacion %} Formulario Historia {% endblock %}
{% block DatosOperacion %}
    <form action="/historia/crear/confirmar/" method="POST">{% csrf_token %}
        <fieldset>
            <dl><dt><label>Nombre:</label></dt><dd><input type="text" name="nombre_historia" required /></dd></dl>
            <dl><dt><label>Codigo:</label></dt><dd><input type="text" name="codigo_historia" required /></dd></dl>
            <dl><dt><label>Prioridad:</label></dt><dd><select name="prioridad_historia"required>
                                                            <option value="1">1</option>
                                                            <option value="2">2</option>
                                                            <option value="3">3</option>
                                                            <option value="4">4</option>
                                                            <option value="5">5</option>
                                                            <option value="6">6</option>
                                                            <option value="7">7</option>
                                                            <option value="8">8</option>
                                                            <option value="9">9</option>
                                                            <option value="10">10</option></select></dd></dl>
            <dl><dt><label>Valor Negocio:</label></dt><dd><select name="negocio_historia"required>
                                                            <option value="1">1</option>
                                                            <option value="2">2</option>
                                                            <option value="3">3</option>
                                                            <option value="4">4</option>
                                                            <option value="5">5</option>
                                                            <option value="6">6</option>
                                                            <option value="7">7</option>
                                                            <option value="8">8</option>
                                                            <option value="9">9</option>
                                                            <option value="10">10</option></select></dd></dl>
            <dl><dt><label>Valor Tecnico:</label></dt><dd><select name="tecnico_historia"required>
                                                            <option value="1">1</option>
                                                            <option value="2">2</option>
                                                            <option value="3">3</option>
                                                            <option value="4">4</option>
                                                            <option value="5">5</option>
                                                            <option value="6">6</option>
                                                            <option value="7">7</option>
                                                            <option value="8">8</option>
                                                            <option value="9">9</option>
                                                            <option value="10">10</option></select></dd></dl>
            <dl><dt><label>Horas Estimadas de Trabajo:</label></dt><dd><input type="text" name="size_historia"required /></dd></dl>
            <!--<dl><dt><label>Acumulador:</label></dt><dd><input type="text" name="acumulador_historia" value="0" disabled /></dd></dl>!-->
            <!--<dl><dt><label>Historial:</label></dt><dd><input type="text" name="historial_historia" value="1-Creacion historia" required /></dd></dl>!-->
            <dl><dt><label>Descripcion:</label></dt><dd><textarea name="descripcion_historia" rows="10" cols="50" required ></textarea></dd></dl>

            <input type="hidden" name='proyecto_historia' value={{ proyecto.id }}>
            <input type="hidden" name='login' value={{ logueado.id }}>

            <input type="hidden" name="activo" value="true">
        <input type="submit" value="Crear">
    </form>
    <form action="/historia/" method="POST">{% csrf_token %}
        <input type="hidden" name='proyecto' value={{ proyecto.id }} >
        <input type="hidden" name='login' value={{ logueado.id }} >
        <input type="submit" value="<Atras">
    </form>
{% endblock %}