{% extends 'PlantillaBaseMetodos.html' %}
{% block title %}::Eliminar Historia::{% endblock %}
{% block TituloMenu %} ELIMINAR HISTORIA {% endblock %}
{% block TituloOperacion %} Historia Eliminada {% endblock %}
{% block DatosOperacion %}
    <center><h3>La historia pasó a estado : INACTIVO</h3></center>
{% endblock %}
{% block Botones %}
    <form action="/historia/" method="POST"> {% csrf_token %}
        <input type="hidden" name='login' value={{ logueado.id }} >
        <input type="hidden" name="proyecto" value={{ proyecto.id }}>
        <center><input type="submit" value="Aceptar"></center>
    </form>
{% endblock %}