{% extends 'PlantillaBaseListas.html' %}
{% block title %} ::Administracion de Historias:: {% endblock %}
{% block TituloMenu %} ADMINISTRACION DE HISTORIAS DEL PROYECTO {% endblock %}

{% block Columnas %}
   <div style="text-align: center;"><b><h1><font color="orange">ADMINISTRACION DE HISTORIAS</font></h1></b></div>
<h2>HISTORIA: {{ historia.nombre }}</h2>
    <tr>
        <th scope="col" class="rounded"><font color="green">Nombre</font></th>
        <th scope="col" class="rounded"><font color="white">Editar</font></th>
        <th scope="col" class="rounded"><font color="green">Cargar horas</font></th>
        <th scope="col" class="rounded"><font color="white">Historial</font></th>
        <th scope="col" class="rounded"><font color="green">Detalles</font></th>
        <th scope="col" class="rounded"><font color="white">Registro</font></th>
        <th scope="col" class="rounded"><font color="green">Actividad/Estado</font></th>
    </tr>

{% endblock %}
{% block MostrarDatos%}

        <tr>
            <td>{{ historia.nombre }}</td>

            <td>
                <form action= "/historia/editar/" method="post"> {% csrf_token %}
                    <input type="hidden" name='proyecto' value={{ proyecto.id }} >
                    <input type="hidden" name='login' value={{ logueado.id }} >
                    <input type="hidden" name='historia' value={{ historia.id }} >
                    {% if proyecto.estado == 'F' or proyecto.estado == 'N' %}
                        <center><input type="submit" value="Modificar" disabled></center>
                    {% else %}
                        <center><input type="submit" value="Modificar"></center>
                    {% endif %}
                </form>
            </td>

            <td>
                <form action= "/historia/horas/" method="post"> {% csrf_token %}
                    <input type="hidden" name='proyecto' value={{ proyecto.id }} >
                    <input type="hidden" name='login' value={{ logueado.id }} >
                    <input type="hidden" name='historia' value={{ historia.id }} >
                    {% if historia.flujo == null and historia.sprint == "" or logueado != historia.asignado or historia.actividad == null or proyecto.estado == 'F' or proyecto.estado == 'N' or historia.estado_sprint == 'No iniciado' or historia.estado_sprint == 'Ejecutado' or proyecto.scrum_master != logueado and logueado != historia.asignado or historia.estado_scrum == 'Cancelado' %}
                        <center><input type="submit" value="Cargar horas" disabled></center>
                    {% else %}
                        <center><input type="submit" value="Cargar Horas"></center>
                    {% endif %}
                </form>
            </td>
            <td>
                <form action= "/historia/historial/" method="post"> {% csrf_token %}
                    <input type="hidden" name='proyecto' value={{ proyecto.id }} >
                    <input type="hidden" name='login' value={{ logueado.id }} >
                    <input type="hidden" name='historia' value={{ historia.id }} >
                    {% if historia.asignado == logueado or logueado == proyecto.scrum_master%}
                        <center><input type="submit" value="Historial"></center>
                    {% else %}
                        <center><input type="submit" value="Historial" disabled></center>
                    {% endif %}
                </form>
            </td>
            <td>
                <form action= "/historia/detalles/" method="post"> {% csrf_token %}
                    <input type="hidden" name='proyecto' value={{ proyecto.id }} >
                    <input type="hidden" name='login' value={{ logueado.id }} >
                    <input type="hidden" name='historia' value={{ historia.id }} >
                    {% if historia.asignado == logueado or logueado == proyecto.scrum_master%}
                        <center><input type="submit" value="Ver"></center>
                    {% else %}
                        <center><input type="submit" value="Ver" disabled></center>
                    {% endif %}
                </form>
            </td>
            <td>
                <form action= "/historia/tareas/" method="post"> {% csrf_token %}
                    <input type="hidden" name='proyecto' value={{ proyecto.id }} >
                    <input type="hidden" name='login' value={{ logueado.id }} >
                    <input type="hidden" name='historia' value={{ historia.id }} >
                    {% if historia.asignado == logueado or logueado == proyecto.scrum_master%}
                        <center><input type="submit" value="Tareas"></center>
                    {% else %}
                        <center><input type="submit" value="Tareas" disabled></center>
                    {% endif %}
                </form>
            </td>
            <td>
                <form action= "/historia/actividadestado/" method="post"> {% csrf_token %}
                    <input type="hidden" name='proyecto' value={{ proyecto.id }} >
                    <input type="hidden" name='login' value={{ logueado.id }} >
                    <input type="hidden" name='historia' value={{ historia.id }} >
                    {% if historia.flujo == null and historia.sprint == "" or proyecto.estado == 'F' or proyecto.estado == 'N' or historia.estado_sprint == 'No iniciado' or historia.estado_sprint == 'Ejecutado' or proyecto.scrum_master != logueado and logueado != historia.asignado or historia.estado_scrum == 'Cancelado' %}
                        <center><input type="submit" value="Cambiar" disabled></center>
                    {% else %}
                        <center><input type="submit" value="Cambiar"></center>
                    {% endif %}
                </form>
            </td>
        </tr>

{% endblock %}


{% block Botones%}
    <form action="/historia/" method="POST"> {% csrf_token %}
        <input type="hidden" name="proyecto" value={{ proyecto.id }}>
        <input type="hidden" name='login' value={{ logueado.id }} >
        <input type="submit" value="Administracion de Historias"><br>
    </form>
    <form action="/proyecto/kanban/" method="POST"> {% csrf_token %}
        <input type="hidden" name="proyecto" value={{ proyecto.id }}>
        <input type="hidden" name='login' value={{ logueado.id }} >
        <input type="submit" value="Tabla kanban"><br>
    </form>
{% endblock %}
