{% extends 'PlantillaBaseListas.html' %}
{% block title %} ::Administracion de Historias:: {% endblock %}
{% block TituloMenu %} ADMINISTRACION DE HISTORIAS DEL PROYECTO {% endblock %}

{% block Columnas %}
   <div style="text-align: center;"><b><h1><font color="orange">ADMINISTRACION DE HISTORIAS</font></h1></b></div>
<h2>HISTORIAS DE "{{ proyecto.nombre }}"</h2>
    <tr>
        <th scope="col" class="rounded"><font color="green">Nombre</font></th>
        <th scope="col" class="rounded"><font color="green">|Prioridad</font></th>
        <th scope="col" class="rounded"><font color="green">|ValorNegocio</font></th>
        <th scope="col" class="rounded"><font color="green">|ValorTecnico</font></th>
        <th scope="col" class="rounded"><font color="green">|HorasEstimadas</font></th>
        <th scope="col" class="rounded"><font color="green">|EnSprint</font></th>
        <th scope="col" class="rounded"><font color="green">|EnFlujo</font></th>
    </tr>

{% endblock %}
{% block MostrarDatos%}
    {% for historia in lista %}
        <tr>
            <td><center>{{ historia.nombre }}</center></td>


            <td>
                <center>{{ historia.prioridad }}</center>
            </td>
            <td>
                <center>{{ historia.val_negocio }}</center>
            </td>
            <td>
                <center>{{ historia.val_tecnico }}</center>
            </td>
            <td>
                <center>{{ historia.size }}</center>
            </td>
            <td>{% ifequal historia.sprint "" %}
                    <center>No</center>
                {% else %}
                    <center>{{ historia.sprint }}</center>
                {% endifequal %}
            </td>
            <td>{% ifequal historia.flujo null %}
                    <center>No</center>
                {% else %}
                    <center>{{ historia.flujo.nombre }}</center>
                {% endifequal %}
            </td>
            <td>
                <form action= "/historia/actualizacion/" method="post"> {% csrf_token %}
                    <input type="hidden" name='proyecto' value={{ proyecto.id }} >
                    <input type="hidden" name='login' value={{ logueado.id }} >
                    <input type="hidden" name='historia' value={{ historia.id }} >
                    {% if proyecto.scrum_master == logueado or logueado == historia.asignado %}
                        <input type="submit" value="Opciones">
                    {% else %}
                        <input type="submit" value="Opciones" disabled>
                    {% endif %}
                </form>
            </td>
            <td><form action= "/historia/eliminar/" method="post"> {% csrf_token %}
                    <input type="hidden" name='proyecto' value={{ proyecto.id }} >
                    <input type="hidden" name='login' value={{ logueado.id }} >
                    <input type="hidden" name='historia' value={{ historia.id }} >
                    {% if historia.flujo == null and historia.sprint == "" and logueado == proyecto.scrum_master %}
                        <input type="submit" value="Eliminar">
                    {% elif historia.flujo == null and historia.sprint == "" and logueado == historia.asignado %}
                        <input type="submit" value="Eliminar">
                    {% else %}
                        <input type="submit" value="Eliminar" disabled>(Historia asignada o no tienes permisos.)
                    {% endif %}
                </form>
            </td>
        </tr>
    {% endfor %}
{% endblock %}


{% block Botones%}
    <form action="/historia/crear/" method="POST">{% csrf_token %}
        <input type="submit" value="Crear nueva historia">
        <input type="hidden" name='proyecto' value={{ proyecto.id }}>
        <input type="hidden" name='login' value={{ logueado.id }} >
    </form>
    <form action="/proyecto/ingresar/" method="POST"> {% csrf_token %}
        <input type="hidden" name="proyecto" value={{ proyecto.id }}>
        <input type="hidden" name='login' value={{ logueado.id }} >
        <input type="submit" value="<Atras"><br>
    </form>
{% endblock %}
