{% extends 'PlantillaBaseMetodos.html' %}
{% block title %}::Detalles Historia::{% endblock %}
{% block TituloMenu %} DETALLES HISTORIA {% endblock %}
{% block TituloOperacion %} Detalles historia {% endblock %}
{% block DatosOperacion %}
    <center><h3>HISTORIA: {{ historia.nombre }}</h3></center>

        <tr>
            <th scope="col" class="rounded"><font color="green">Proyecto</font></th>
            <th scope="col" class="rounded"><font color="green">Prioridad</font></th>
            <th scope="col" class="rounded"><font color="green">ValorNegocio</font></th>
            <th scope="col" class="rounded"><font color="green">ValorTecnico</font></th>
            <th scope="col" class="rounded"><font color="green">HorasEstimadas</font></th>
            <th scope="col" class="rounded"><font color="green">Codigo</font></th>
            <th scope="col" class="rounded"><font color="green">Acumulador</font></th>
            <th scope="col" class="rounded"><font color="green">Asignado</font></th>
            <th scope="col" class="rounded"><font color="green">Flujo</font></th>
            <th scope="col" class="rounded"><font color="green">Estado</font></th>
            <th scope="col" class="rounded"><font color="green">Actividad</font></th>
            <th scope="col" class="rounded"><font color="green">Sprint</font></th>
        </tr>
        <tr>
            <td><center>{{ historia.proyecto.nombre }}</center></td>


            <td>
                <center>{{ historia.prioridad }}</center>
            </td>
            <td>
                <center>{{ historia.val_negocio }}</center>
            </td>
            <td>
                <center>{{ historia.val_tecnico }}</center>
            </td>
            <td>
                <center>{{ historia.size }}</center>
            </td>
            <td>
                <center>{{ historia.codigo }}</center>
            </td>
            <td>
                <center>{{ historia.acumulador }}</center>
            </td>
            <td>
                <center>{{ historia.asignado.nombre }}</center>
            </td>
            <td>
                <center>{{ historia.flujo.nombre }}</center>
            </td>
            <td>
                <center>{{ historia.estado }}</center>
            </td>
            <td>
                <center>{{ historia.actividad }}</center>
            </td>
            <td>
                <center>{{ historia.sprint }}</center>
            </td>
        </tr>

{%endblock%}


{% block Botones%}
    <form action="/historia/actualizacion/" method="POST">{% csrf_token %}
        <input type="hidden" name='proyecto' value={{ proyecto.id }} >
        <input type="hidden" name='login' value={{ logueado.id }} >
        <input type="hidden" name="historia" value={{ historia.id }}>
        <center><input type="submit" value="<Atras"></center>
    </form>
{% endblock %}