{% extends 'PlantillaBaseMetodos.html' %}
{% block title %}::Historial Historia::{% endblock %}
{% block TituloMenu %} HISTORIAL HISTORIA {% endblock %}
{% block TituloOperacion %} Historial historia {% endblock %}
{% block DatosOperacion %}
    <center><h3>HISTORIA: {{ historia_actual.nombre }}</h3></center>
{% block Botones0 %}
    <form action="/historia/actualizacion/" method="POST">{% csrf_token %}
        <input type="hidden" name='proyecto' value={{ proyecto.id }} >
        <input type="hidden" name='login' value={{ logueado.id }} >
        <input type="hidden" name="historia" value={{ historia_actual.id }}>
        <center><input type="submit" value="<Atras"></center>
    </form>
{% endblock %}
        <tr>
            <th scope="col" class="rounded"><font color="green">ID</font></th>
            <th scope="col" class="rounded"><font color="green">Nombre</font></th>
            <th scope="col" class="rounded"><font color="green">Proyecto</font></th>
            <th scope="col" class="rounded"><font color="green">Codigo</font></th>
            <th scope="col" class="rounded"><font color="green">Prioridad</font></th>
            <th scope="col" class="rounded"><font color="green">ValorNegocio</font></th>
            <th scope="col" class="rounded"><font color="green">ValorTecnico</font></th>
            <th scope="col" class="rounded"><font color="green">HorasEstimadas</font></th>
            <th scope="col" class="rounded"><font color="green">Acumulador</font></th>
            <th scope="col" class="rounded"><font color="green">Asignado</font></th>
            <th scope="col" class="rounded"><font color="green">Flujo</font></th>
            <th scope="col" class="rounded"><font color="green">Estado</font></th>
            <th scope="col" class="rounded"><font color="green">Actividad</font></th>
            <th scope="col" class="rounded"><font color="green">Sprint</font></th>
            <th scope="col" class="rounded"><font color="green">Activo</font></th>
            <th scope="col" class="rounded"><font color="green">Descripcion</font></th>
            <th scope="col" class="rounded"><font color="green">Fecha de Modificacion</font></th>
        </tr>
{% for historial in lista %}
        <tr>
            <td>
                <center>{{ historial.id_historia.id }}</center>
            </td>
            <td>
                <center>{{ historial.nombre }}</center>
            </td>
            <td>
                <center>{{ historial.proyecto.nombre }}</center>
            </td>
            <td>
                <center>{{ historial.codigo }}</center>
            </td>

            <td>
                <center>{{ historial.prioridad }}</center>
            </td>
            <td>
                <center>{{ historial.val_negocio }}</center>
            </td>
            <td>
                <center>{{ historial.val_tecnico }}</center>
            </td>
            <td>
                <center>{{ historial.size }}</center>
            </td>

            <td>
                <center>{{ historial.acumulador }}</center>
            </td>
            <td>
                <center>{{ historial.asignado.nombre }}</center>
                </td>
            <td>
                <center>{{ historial.flujo.nombre }}</center>
            </td>
            <td>
                <center>{{ historial.estado }}</center>
            </td>
            <td>
                <center>{{ historial.actividad.nombre }}</center>
            </td>
            <td>
                <center>{{ historial.sprint }}</center>
            </td>
            <td>
                <center>{{ historial.activo }}</center>
            </td>
            <td>
                <center>{{ historial.descripcion }}</center>
            </td>
            <td>
                <center>{{ historial.fecha }}</center>
            </td>
        </tr>
{% endfor %}

    <!--{% for historial in lista %}

        <tr>
            <td><h6>ID: {{ historial.id_historia }}</h6></td>

            <td><h6>Nombre: {{ historial.nombre }}</h6></td>

            <td><h6>Proyecto: {{ historial.proyecto.nombre }}</h6></td>
            <td><h6>Prioridad: {{ historial.prioridad }}</h6></td>
        </tr>
        <tr>
            <td><h6>Valor Negocio: {{ historial.val_negocio }}</h6></td>
            <td><h6>Valor Tecnico: {{ historial.val_tecnico }}</h6></td>
            <td><h6>Size: {{ historial.size }}</h6></td>
            <td><h6>Descripcion: {{ historial.descripcion }}</h6></td>
        </tr>
        <tr>
            <td><h6>Codigo: {{ historial.codigo }}</h6></td>
            <td><h6>Acumulador: {{ historial.acumulador }}</h6></td>
            <td><h6>Asignado: {{ historial.asignado }}</h6></td>
            <td><h6>Flujo: {{ historial.flujo }}</h6></td>
            <td><h6>Estado: {{ historial.estado }}</h6></td>
        </tr>
        <tr>
            <td><h6>Actividad: {{ historial.actividad }}<br>----------------------------------------------------------</h6></td>
            <td><h6>Sprint: {{ historial.sprint }}<br>----------------------------------------------------------</h6></td>
            <td><h6>Asignado a Sprint: {{ historial.asignado_p }}<br>----------------------------------------------------------</h6></td>
            <td><h6>Activo: {{ historial.activo }}<br>----------------------------------------------------------</h6></td>
            <td><h6>Fecha: {{ historial.fecha }}<br>----------------------------------------------------------</h6></td>
        </tr>

    {% endfor %}!-->
{%endblock%}

{% block Botones%}
    <form action="/historia/actualizacion/" method="POST">{% csrf_token %}
        <input type="hidden" name='proyecto' value={{ proyecto.id }} >
        <input type="hidden" name='login' value={{ logueado.id }} >
        <input type="hidden" name="historia" value={{ historia_actual.id }}>
        <center><input type="submit" value="<Atras"></center>
    </form>
{% endblock %}