{% extends 'PlantillaBaseMetodos.html' %}
{% block title %}::Eliminar Proyecto::{% endblock %}
{% block TituloMenu %} ELIMINAR PROYECTO {% endblock %}
{% block TituloOperacion %} Proyecto Eliminado {% endblock %}
{% block DatosOperacion %}
    <center><h3>El proyecto pasó a modo &lt;&lt;&lt;INACTIVO&gt;&gt;&gt;</h3></center><img src="{{ STATIC_URL }}/Imagenes/images/valid.png" alt=""/>
{% endblock %}
{% block Botones %}
    <form action="/proyecto/" method="POST"> {% csrf_token %}
        <input type="hidden" name='login' value={{ logueado.id }} >
        <center><input type="submit" value="Aceptar" id="submitt"></center>
    </form>
{% endblock %}