{% extends 'PlantillaBaseListas.html' %}
{% block title %}::Tabla Kanban::{% endblock %}
{% block TituloMenu %} TABLA KANBAN {% endblock %}
{% block MigasDePan %}>>>Proyecto: <h5>{{ proyecto.nombre }}</h5> >>>Kanban {% endblock %}
{% block TituloLista %} {% endblock %}
{% block content %}

{% endblock %}
{% block Columnas %}

{% endblock %}
{% block MostrarDatos%}

{% for flujo in flujos %}
    <table border=2 width="1500" BGCOLOR="White" height="300" align="center">
            <caption style="color:#0000FF;font-size:20pt;font-style:verdana">{{ flujo.nombre}}</caption>


                <tr>
                {%  for actividad in actividades_flujo %}

                        {% ifequal actividad.flujo flujo.id %}


                        <th align="center" valign="top" width="20" height="10" colspan="3" bgcolor="pink">{{ actividad.nombre }}</th>
                        {% endifequal %}


                {% endfor %}
                </tr>

                <tr>
                {% for actividad in actividades_flujo %}
                    {% ifequal actividad.flujo flujo.id %}

                        <td align="center" valign="top" bgcolor="violet">To Do </td>
                        <td align="center" valign="top" bgcolor="yellow">Doing </td>
                        <td align="center" valign="top" bgcolor="skyblue">Done </td>

                    {% endifequal %}
                {% endfor %}
                </tr>

                <tr>
                {% for actividad in actividades_flujo %}


                    {% ifequal actividad.flujo flujo.id %}
                        {% if actividad.secuencia != 1 %}
                            <td><td><td></td></td></td>
                        {% endif %}
                        {% for historia in historias %}

                            {% if historia.actividad == actividad %}


                                {% ifequal historia.estado "To Do" %}


                                    <td align="center">

                                    <form action= "/historia/actualizacion/" method="post"> {% csrf_token %}
                                        <input type="hidden" name='proyecto' value={{ proyecto.id }} >
                                        <input type="hidden" name='login' value={{ logueado.id }} >
                                        <input type="hidden" name='historia' value={{ historia.id }} >
                                        {% if proyecto.scrum_master == logueado or logueado == historia.asignado %}
                                            <input style="color:#F51414" type="submit" value={{ historia.nombre }}>
                                        {% else %}
                                            <input style="color:#F51414" type="submit" value={{ historia.nombre }} disabled>
                                        {% endif %}
                                    </form>
                                    <tr></tr>

                                    </td>

                                {% endifequal %}

                                {% ifequal historia.estado "Doing" %}
                                    <td></td>
                                    <td align="center">

                                        <form action= "/historia/actualizacion/" method="post"> {% csrf_token %}
                                        <input type="hidden" name='proyecto' value={{ proyecto.id }} >
                                        <input type="hidden" name='login' value={{ logueado.id }} >
                                        <input type="hidden" name='historia' value={{ historia.id }} >
                                        {% if proyecto.scrum_master == logueado or logueado == historia.asignado %}
                                            <input style="color:#F51414" type="submit" value={{ historia.nombre }}>
                                        {% else %}
                                            <input style="color:#F51414" type="submit" value={{ historia.nombre }} disabled>
                                        {% endif %}
                                    </form>
                                    <tr></tr>

                                    </td>
                                {% endifequal %}

                                {% ifequal historia.estado "Done" %}
                                <td><td></td></td>

                                <td align="center" >
                                    <form action= "/historia/actualizacion/" method="post"> {% csrf_token %}
                                        <input type="hidden" name='proyecto' value={{ proyecto.id }} >
                                        <input type="hidden" name='login' value={{ logueado.id }} >
                                        <input type="hidden" name='historia' value={{ historia.id }} >
                                        {% if proyecto.scrum_master == logueado or logueado == historia.asignado %}
                                            <input style="color:#F51414" type="submit" value={{ historia.nombre }}>
                                        {% else %}
                                            <input style="color:#F51414" type="submit" value={{ historia.nombre }} disabled>
                                        {% endif %}
                                    </form>
                                    <tr></tr>

                                </td>
                                {% endifequal %}

                            {% endif %}

                        {% endfor %}


                        <!--{% ifnotequal actividad.secuencia flujo.nro_actividades %}-->

                        <!--{% endifnotequal %}-->

                    {% endifequal %}



                {% endfor %}


                </tr>



        <!--{% for actividad in actividades_flujo %}

                {% for historia in historias %}

                    {% ifequal historia.flujo flujo %}

                        {% ifequal historia.actividad actividad %}




                                {% ifequal historia.estado "To Do" %}
                                    <td>
                                    <h5 style="color:#F41616"> {{ historia.nombre }}</h5>
                                    <tr></tr>
                                    </td>
                                {% endifequal %}

                                {% ifequal historia.estado "Doing" %}
                                    <td>
                                    <h5 style="color:#F41616"> {{ historia.nombre }}</h5>
                                    <tr></tr>
                                    </td>
                                {% endifequal %}

                                {% ifequal historia.estado "Done" %}
                                <td >
                                    <h5 style="color:#F41616"> {{ historia.nombre }}</h5>
                                    <tr></tr>
                                </td>
                                {% endifequal %}




                        {% endifequal %}

                    {% endifequal %}


                {% endfor %}
                <td></td>
                <td></td>
                <td></td>
            {% endfor %}-->


    </table>
    <br>
    <br>



{% endfor %}


{% endblock %}
{% block Botones %}

    <form action="/proyecto/ingresar/" method="post">{% csrf_token %}
        <input type="hidden" name='codigo' value={{ logueado.id }} >
        <input type="hidden" name='login' value={{ logueado.id }} >
        <input type="hidden" name='proyecto' value={{ proyecto.id }} >
        <input type="submit" value="<Atras" id="submitt">
    </form>

{% endblock %}