{% extends 'PlantillaBaseListas.html' %}
{% block title %}::Menu Inicio Proyecto::{% endblock %}
{% block TituloMenu %} MENU PROYECTO {% endblock %}
{% block MigasDePan %}>>>Inicio>>Proyecto

<h3> Nombre: {{ proyecto.nombre }} </h3>
<h3> Descripcion: {{ proyecto.descripcion }} </h3>
<h3> Scrum Master: {{ proyecto.scrum_master }} </h3>
<h3> Equipo Scrum: </h3>
{% for usuario in proyecto.scrum_team.all %}
    <td> * {{ usuario }}</td></br>

{% endfor %}


{% endblock %}
{% block TituloLista %} Operaciones disponibles {% endblock %}


{% block Botones %}
    <form action= "/inicio/flujo/" method="post"> {% csrf_token %}
        <input type="hidden" name='login' value={{ logueado.id }} >
     	<input type="submit" value="Administrar Flujos" id="submitt">
    </form>

    <form action= "/inicio/rol/" method="post"> {% csrf_token %}
        <input type="hidden" name='login' value={{ logueado.id }} >
     	<input type="submit" value="Administrar Roles" id="submitt">
    </form>

    <form action= "/proyecto/" method="post"> {% csrf_token %}
        <input type="hidden" name='login' value={{ logueado.id }} >
     	<input type="submit" value="<Atras" id="submitt">
    </form>




{% endblock %}