{% extends 'PlantillaBaseMetodos.html' %}
{% block title %}::Inicializar Proyecto::{% endblock %}
{% block TituloMenu %} INICIALIZAR PROYECTO {% endblock %}
{% block TituloOperacion %} Proyecto Iniciado {% endblock %}
{% block DatosOperacion %}
    <div align="center"><h3>El proyecto se inici&oacute exitosamente. </h3></div>
{% endblock %}
{% block Botones %}
    <form action="/proyecto/" method="POST"> {% csrf_token %}
        <input type="hidden" name='login' value={{ logueado.id }} >
        <div align="center"><input type="submit" value="Aceptar" id="submitt"></div>
    </form>
{% endblock %}