{% extends 'PlantillaBaseListas.html' %}
{% block title %}::Menu Inicio Proyecto::{% endblock %}
{% block TituloMenu %} MENU PROYECTO {% endblock %}
{% block MigasDePan %}>>>Inicio>>Proyecto
<table border="2" bgcolor="white" align="center">
        <td>
        <h4> Nombre: {{ proyecto.nombre }} </h4>
        <h4> Descripcion: {{ proyecto.descripcion }} </h4>
        <h4> Scrum Master: {{ proyecto.scrum_master }} </h4>
         </td>
        <td>
            <h4> Fecha de Inicio: {{ proyecto.fecha_inicio }}</h4>
            <h4> Fecha de Fin: {{ proyecto.fecha_fin }} </h4>
        </td>


        <td>
        <h4> Equipo Scrum: </h4>
        {% for usuario in proyecto.scrum_team.all %}
            {% ifequal usuario.estado True %}
                 * {{ usuario }}</br>
            {% endifequal %}
        {% endfor %}
        </td>
        <td>
        <h4> Cliente: {{ proyecto.cliente.username }} </h4>
        </td>
        </table>
        {% endblock %}

{% block TituloLista %} <h2 align="center" style="font-style:italic"> OPERACIONES DISPONIBLES </h2> {% endblock %}

{% block Botones %}
<table align="center" border="2" bgcolor="yellow" height="200" width="500">
    <td align="center">

    <form action= "/flujo/" method="post"> {% csrf_token %}
        <input type="hidden" name='login' value={{ logueado.id }} >
        <input type="hidden" name='proyecto' value={{ proyecto.id}}>
        {% ifequal proyecto.scrum_master logueado %}
     	<input type="submit" value="Administrar Flujos" id="submitt">
        {% endifequal %}
    </form>

    <br>

    <form action= "/sprint/" method="post"> {% csrf_token %}
        <input type="hidden" name='login' value={{ logueado.id }} >
        <input type="hidden" name='proyecto' value={{ proyecto.id}}>
        {% ifequal proyecto.scrum_master logueado %}
     	<input type="submit" value="Administrar Sprints" id="submitt">
        {% endifequal %}
    </form>
    <br>

    <form action= "/inicio/rol/" method="post"> {% csrf_token %}
        <input type="hidden" name='login' value={{ logueado.id }} >
        <input type="hidden" name='proyecto' value={{ proyecto.id }}>
        {% ifequal proyecto.scrum_master logueado %}
     	<input type="submit" value="Administrar Roles" id="submitt">
        {% endifequal %}
    </form>
    <br>

    <form action= "/historia/" method="post"> {% csrf_token %}
        <input type="hidden" name='login' value={{ logueado.id }} >
        <input type="hidden" name='proyecto' value={{ proyecto.id}}>
        {% ifequal proyecto.scrum_master logueado %}
     	<input type="submit" value="Administrar Historias" id="submitt">
        {% endifequal %}
    </form>
    </td>

    <td align="center">

    <form action= "/proyecto/kanban/" method="post"> {% csrf_token %}
        <input type="hidden" name='login' value={{ logueado.id }} >
        <input type="hidden" name='proyecto' value={{ proyecto.id}}>
        {% for rol in logueado.roles.all %}
            {% ifequal rol.ver_tabla True %}
     	        <input type="submit" value="Ver Tabla Kanban" id="submitt">
            {% endifequal %}
        {% endfor %}

    </form>

    <form action= "/proyecto/productbacklog/" method="post"> {% csrf_token %}
        <input type="hidden" name='login' value={{ logueado.id }} >
        <input type="hidden" name='proyecto' value={{ proyecto.id}}>
     	<input type="submit" value="Ver Product Backlog" id="submitt">
    </form>

    </td>
</table>
 <br>
    <form action= "/proyecto/" method="post"> {% csrf_token %}
        <input type="hidden" name='login' value={{ logueado.id }} >
     	<input type="submit" value="<Atras" id="submitt">
    </form>


{% endblock %}