{% extends 'PlantillaBaseListas.html' %}
{% block title %}::Menu Inicio::{% endblock %}
{% block TituloMenu %} BIENVENIDO AL SISTEMA SK {% endblock %}
{% block MigasDePan %}>>>Inicio{% endblock %}
{% block TituloLista %} <h1 align="center" style="font-style:italic">Proyectos a los cuales Ud. pertenece </h1>{% endblock %}
{% block content %}

{% endblock %}
{% block Columnas %}
<table border="3" align="center" bgcolor="white">
    <tr>
		<th scope="col" class="rounded">Nombre</th>
		<th scope="col" class="rounded">Scrum Master</th>
        <th scope="col" class="rounded">Estado</th>
		<th scope="col" class="rounded">Eliminar</th>
        <th scope="col" class="rounded">Modificar</th>
        <th scope="col" class="rounded">Inicializar</th>
        <th scope="col" class="rounded">Ingresar</th>
	</tr>
{% endblock %}
{% block MostrarDatos%}

    {% for proyecto in lista_proyectos %}
            {%  for usuario in proyecto.scrum_team.all %}
                {% ifequal usuario.id logueado.id %}
		    	    <tr>
                        <td>{{ proyecto.nombre }}</td>
                        <td>{{ proyecto.scrum_master }}</td>
                        <td>{{ proyecto.estado }}</td>
                        <td>
                            <form action= "/proyecto/eliminar/" method="post"> {% csrf_token %}
                                <input type="hidden" name='proyecto' value={{ proyecto.id }} >
                                <input type="hidden" name='login' value={{ logueado.id }} >
                                {% if proyecto.estado == 'F' or logueado != proyecto.scrum_master %}
                                    <input type="submit" value="Eliminar" id="submitt" disabled>
                                {% else %}
                                     <input type="submit" value="Eliminar" id="submitt">
                                {% endif %}

                            </form>
                        </td>
                        <td>
                            <form action= "/proyecto/modificar/" method="post"> {% csrf_token %}
                                <input type="hidden" name='proyecto' value={{ proyecto.id }} >
                                <input type="hidden" name='login' value={{ logueado.id }} >
                                {% if proyecto.estado == 'F' or logueado != proyecto.scrum_master %}
                                    <input type="submit" value="Modificar" id="submitt" disabled>
                                {% else %}
                                     <input type="submit" value="Modificar" id="submitt">
                                {% endif %}

                            </form>
                        </td>
                        <td>
                            <form action= "/proyecto/inicializar/" method="post"> {% csrf_token %}
                                <input type="hidden" name='proyecto' value={{ proyecto.id}} >
                                <input type="hidden" name='login' value={{ logueado.id }} >
                                {% if proyecto.estado == 'F' or logueado != proyecto.scrum_master %}
                                    <input type="submit" value="Inicializar" id="submitt" disabled>
                                {% else %}
                                     <input type="submit" value="Inicializar" id="submitt">
                                {% endif %}

                            </form>
                        </td>
                        <td>
                            <form action= "/proyecto/ingresar/" method="post"> {% csrf_token %}
                                <input type="hidden" name='proyecto' value={{ proyecto.id }} >
                                <input type="hidden" name='login' value={{ logueado.id }} >
                                <input type="submit" value="Ingresar" id="submitt">
                            </form>
                        </td>
                    </tr>
                {% endifequal %}
            {% endfor %}
    {% endfor %}
</table>
    {% endblock %}

{% block Botones %}
<br>
<br>
<table border="3" bgcolor="yellow" align="center">
    <td align="center">
    <br>
    <form action= "/proyecto/crear/" method="post"> {% csrf_token %}
        <input type="hidden" name='login' value={{ logueado.id }} >
     	<input type="submit" value="Crear Proyecto" id="submitt">
    </form>
    <br>
     </td>
    <td>
      <form action= "/proyecto/usuario/" method="post"> {% csrf_token %}
        <input type="hidden" name='login' value={{ logueado.id }} >
     	<input type="submit" value="Administrar Usuarios" id="submitt">
    </form>
    </td>
    <br>
    <br>
    <br>
    <td>
    <form action="/proyecto/usuario/editar/" method="post">{% csrf_token %}
        <input type="hidden" name='codigo' value={{ logueado.id }} >
        <input type="hidden" name='login' value={{ logueado.id }} >
        <input type="submit" value="Modificar mis Datos" id="submitt">
    </form>
    </td>
</table>
{% endblock %}