{% extends 'PlantillaBaseMetodos.html' %}
{% block title %}::Finalizar Historia::{% endblock %}
{% block TituloMenu %} FINALIZAR HISTORIA {% endblock %}
{% block TituloOperacion %} Historia Finalizada {% endblock %}
{% block DatosOperacion %}
    <div align="center"><h3>La historia se finalizo exitosamente. </h3></div>
{% endblock %}
{% block Botones %}
    <form action="/proyecto/productbacklog/" method="POST"> {% csrf_token %}
        <input type="hidden" name='login' value={{ logueado.id }} >
        <input type="hidden" name='proyecto' value={{ proyecto.id }} >
        <div align="center"><input type="submit" value="Aceptar" id="submitt"></div>
    </form>
{% endblock %}