{% extends 'PlantillaBaseListas.html' %}
{% block title %} ::Administracion de Historias:: {% endblock %}
{% block TituloMenu %} ASIGNACION DE HISTORIAS DE USUARIO {% endblock %}
{% block MigasDePan %}>>Inicio>>Proyecto:<h5>{{ proyecto.nombre }}</h5>>>Sprint:<h5>{{sprint.nombre}}</h5>{% endblock %}

{% block Columnas %}

<h2>Lista de Historias del Proyecto</h2>


{% endblock %}
{% block MostrarDatos %}
{% block DatosOperacion %}
    <form action="/sprint/asignar/confirmar/" method="post" class="niceform">{% csrf_token %}
        <fieldset >


            <dl>
                <dt><label>Historias del Proyecto:</label></dt>
                <dd >
                    <select size="10" style="width:500" multiple name="historias[]" id="submitt" required>
                        <option value="" disabled>Nombre ______Prioridad_____Val.Negocio_____Val.Tecnico______Desarrollador_______Flujo_________Actividad_________Estado </option>
                        {% for historia in historias %}
                                    <option value={{ historia.id }}>{{ historia.nombre }} __________ {{historia.prioridad }} ____________ {{ historia.val_negocio }}_____________ {{ historia.val_tecnico }} _____________ {{ historia.asignado }} ____________ {{ historia.flujo }} __________ {{ historia.actividad }} ________ {{ historia.estado }}</option>
                        {% endfor %}

                    </select>
                </dd>
            </dl>


        </fieldset>
        <input type="hidden" name='proyecto' value={{ proyecto.id }}>
        <input type="hidden" name='login' value={{ logueado.id }} >
        <input type="hidden" name='sprint' value={{ sprint.id }} >
        <input type="submit" value="Asignar Historias al Sprint">
    </form>
    </form><br>
    <form action="/sprint/" method="POST"> {% csrf_token %}
        <input type="hidden" name="proyecto" value={{ proyecto.id }}>
        <input type="hidden" name='login' value={{ logueado.id }} >
        <input type="submit" value="<Atras"><br>
    </form>

{% endblock %}
{% endblock %}


