{% extends 'PlantillaBaseListas.html' %}
{% block title %} ::Administracion de Historias:: {% endblock %}
{% block TituloMenu %} ASIGNACION DE HISTORIAS DE USUARIO {% endblock %}
{% block MigasDePan %}>>Inicio>>Proyecto:<h5>{{ proyecto.nombre }}</h5>>>Sprint:<h5>{{sprint.nombre}}</h5>{% endblock %}

{% block Columnas %}
   <div style="text-align: center;"><b><h1><font color="orange">ADMINISTRACION DE HISTORIAS</font></h1></b></div>
<h2>Lista de Historias del Proyecto</h2>


    <tr>
		<th scope="col" class="rounded">Historia</th>
        <th scope="col" class="rounded">Usuario</th>
        <th scope="col" class="rounded">Flujo</th>
    </tr>
{% endblock %}

{% block DatosOperacion %}

{% block MostrarDatos%}

    {% for historia in historias %}

            <tr>

                <td>{{ historia.nombre }} </td>
                <td>{{ historia.asignado }}</td>
                <td>{{ historia.flujo }} </td>
            <td>
                <form action= "/sprint/asignarUF/paso1/" method="post"> {% csrf_token %}
                    <input type="hidden" name='proyecto' value={{ proyecto.id }} >
                    <input type="hidden" name='login' value={{ logueado.id }} >
                    <input type="hidden" name='sprint' value={{ sprint.id }} >
                    <input type="hidden" name='historia' value={{ historia.id }} >

                    <input type="submit" value="Asignar" id="submitt">
                </form>
            </td>
            </tr>

    {% endfor %}
{% endblock %}

{% endblock %}

{% block Botones %}
                <form action= "/sprint/asignar/" method="post"> {% csrf_token %}
                    <input type="hidden" name='proyecto' value={{ proyecto.id }} >
                    <input type="hidden" name='login' value={{ logueado.id }} >
                    <input type="hidden" name='sprint' value={{ sprint.id }} >
                    <input type="hidden" name='historia' value={{ historia.id }} >

                    <input type="submit" value="<Atras" id="submitt">
                </form>
{% endblock %}




