{% extends 'PlantillaBaseListas.html' %}
{% block title %} ::Administracion de Historias:: {% endblock %}
{% block TituloMenu %} ASIGNACION DE HISTORIAS DE USUARIO {% endblock %}
{% block MigasDePan %}>>Inicio>>Proyecto:<h5>{{ proyecto.nombre }}</h5>>>Sprint:<h5>{{sprint.nombre}}</h5>{% endblock %}

{% block Columnas %}
   <div style="text-align: center;"><b><h1><font color="orange">ADMINISTRACION DE HISTORIAS</font></h1></b></div>
<h2>Lista de Historias del Proyecto</h2>

{% endblock %}

{% block MostrarDatos%}
    <form action="/sprint/asignar/confirmar/" method="POST">{% csrf_token %}
        <fieldset>
            <dl>
                <dt><label>Historias a asignar:</label></dt>
                <dd>
                    <select multiple name="historias[]" id="submitt" required>
                        <option value="" disabled>Seleccionar Historias</option>
                        {% for historia in historias %}
                                <option value={{ historia.nombre }}>{{ historia.nombre }}</option>
                        {% endfor %}
                    </select>
                </dd>
            </dl>
            {% endblock %}
{% block Botones%}

        </fieldset>
        <input type="hidden" name='proyecto' value={{ proyecto.id }}>
        <input type="hidden" name='login' value={{ logueado.id }} >
        <input type="hidden" name='sprint' value={{ sprint.id }} >
        <input type="submit" value="Asignar Historias al Sprint">
    </form>
    <form action="/sprint/" method="POST"> {% csrf_token %}
        <input type="hidden" name="proyecto" value={{ proyecto.id }}>
        <input type="hidden" name='login' value={{ logueado.id }} >
        <input type="submit" value="<Atras"><br>
    </form>
{% endblock %}
