{% extends 'PlantillaBaseListas.html' %}
{% block title %} ::Administracion de Sprints:: {% endblock %}
{% block TituloMenu %} ASIGNACION DE HORAS DE TRABAJO EN SPRINT {% endblock %}
{% block MigasDePan %}>>Inicio>>Proyecto:<h5>{{ proyecto.nombre }}</h5>>>Sprint:<h5>{{sprint.nombre}}</h5>{% endblock %}

{% block Columnas %}
   <div style="text-align: center;"><b><h1><font color="orange">ADMINISTRACION DE HISTORIAS</font></h1></b></div>
<h2>Lista del Scrum Team del Proyecto</h2>

<h4>Paso 1 : Asigne las horas que trabajara cada miembro del Scrum Team</h4>


    <tr>
		<th scope="col" class="rounded">Usuario</th>
        <th scope="col" class="rounded">Horas de trabajo</th>
    </tr>
{% endblock %}

{% block DatosOperacion %}

{% block MostrarDatos%}

    {% for usuario in proyecto.scrum_team.all %}
        {% ifequal usuario.estado True %}

            <tr>

                <td>{{ usuario.nombre }} </td>

                {% for equipo in sprint.equipo.all %}
                    {% ifequal usuario.id equipo.usuario.id %}
                        <td align="center">{{ equipo.horas_sprint }}</td>
                    {% endifequal %}
                {% endfor %}
            <td>
                <form action= "/sprint/equipo/horas/" method="post"> {% csrf_token %}
                    <input type="hidden" name='proyecto' value={{ proyecto.id }} >
                    <input type="hidden" name='login' value={{ logueado.id }} >
                    <input type="hidden" name='sprint' value={{ sprint.id }} >
                    <input type="hidden" name='historia' value={{ historia.id }} >
                    <input type="hidden" name='user' value={{ usuario.id }} >

                    <input type="submit" value="Asignar" id="submitt">
                </form>
            </td>
            </tr>
        {% endifequal %}
    {% endfor %}
{% endblock %}

{% endblock %}

{% block Botones %}
                <form action= "/sprint/" method="post"> {% csrf_token %}
                    <input type="hidden" name='proyecto' value={{ proyecto.id }} >
                    <input type="hidden" name='login' value={{ logueado.id }} >
                    <input type="hidden" name='sprint' value={{ sprint.id }} >
                    <input type="hidden" name='historia' value={{ historia.id }} >


                    <input type="submit" value="<Atras" id="submitt">
                </form>
{% endblock %}
