{% extends 'PlantillaBaseMetodos.html' %}
{% block title %}::Crear Sprint::{% endblock %}
{% block TituloMenu %} CREAR SPRINT {% endblock %}
{% block TituloOperacion %} Formulario Sprint {% endblock %}
{% block DatosOperacion %}
    <form action="/sprint/crear/confirmar/"method="post">{% csrf_token %}
        <fieldset>
            <dl>
                <dt><label>Nombre:</label></dt>
                <dd><input type="text" name="nombre_sprint" size="54" required/></dd>
            </dl>
            <dl>
                <dt><label>Descripcion:</label></dt>
                <dd><input type="text" name="descripcion_sprint" size="54"/></dd>
            </dl>
            <dl>
                <dt><label>Fecha Inicio:</label></dt>
                <dd><input type="text" name="fecha_inicio" size="54"/></dd>
            </dl>
            <dl>
                <dt><label>Fecha Fin:</label></dt>
                <dd><input type="text" name="fecha_fin" size="54"/></dd>
            </dl>
            <dl>
                <dt><label>Duracion:</label></dt>
                <dd><input type="text" name="duracion" size="54"/></dd>
            </dl>
        </fieldset>
        <input type="hidden" name='login' value= {{ logueado.id }} >
        <input type="hidden" name='proyecto' value= {{ proyecto.id }} >
        <input type="hidden" name='sprint' value= {{ sprint.id }} >
        <input type="submit" value="Guardar" id="submitt">
    </form>
    <form action="/sprint/" method="POST"> {% csrf_token %}
        <input type="hidden" name='login' value={{ logueado.id }} >
        <input type="hidden" name='proyecto' value= {{ proyecto.id }} >
        <input type="submit" value="<Atras" id="submitt">
    </form>
{% endblock %}
{% block Botones%}
{% endblock %}