{% extends 'PlantillaBaseMetodos.html' %}
{% block title %}::Desasignar Historias::{% endblock %}
{% block TituloMenu %} DESASIGNAR HISTORIAS{% endblock %}
{% block TituloOperacion %} Historias Desasignadas {% endblock %}
{% block DatosOperacion %}
    <div align="center"><h3>Las historias se desasignaron exitosamente. </h3></div>
{% endblock %}
{% block Botones %}
    <form action="/sprint/" method="POST"> {% csrf_token %}
        <input type="hidden" name="proyecto" value={{ proyecto.id }} >
        <input type="hidden" name='login' value={{ logueado.id }} >


        <div align="center"><input type="submit" value="Aceptar" id="submitt"></div>
    </form>
{% endblock %}