{% extends 'PlantillaBaseMetodos.html' %}
{% block title %}::Eliminar Sprint::{% endblock %}
{% block TituloMenu %} ELIMINAR SPRINT {% endblock %}
{% block TituloOperacion %} Sprint Eliminado {% endblock %}
{% block DatosOperacion %}
    <center><h3>El sprint pasó a modo &lt;&lt;&lt;INACTIVO&gt;&gt;&gt;</h3></center>
{% endblock %}
{% block Botones %}
    <form action="/sprint/" method="POST"> {% csrf_token %}
        <input type="hidden" name='login' value={{ logueado.id }} >
        <input type="hidden" name='proyecto' value={{ proyecto.id }} >
        <center><input type="submit" value="Aceptar" id="submitt"></center>
    </form>
{% endblock %}