{% extends 'PlantillaBaseListas.html' %}
{% block title %}::Administracion de Sprints::{% endblock %}
{% block TituloMenu %} SPRINT BACKLOG {% endblock %}
{% block MigasDePan %}>>>Inicio >>> Proyecto: <h4> {{ proyecto.nombre }} </h4>>> Sprint: <h4>{{ sprint.nombre }}</h4>{% endblock %}
{% block TituloLista %} Lista de Historias asignadas al Sprint {% endblock %}
{% block content %}

{% endblock %}

{% block Columnas %}
<table border="2"  bgcolor="white">

    <tr>
		<th scope="col" class="rounded" >Nombre</th>
		<th scope="col" class="rounded">Prioridad</th>
		<th scope="col" class="rounded" >Valor de Negocio</th>
        <th scope="col" class="rounded">Valor Tecnico</th>
        <th scope="col" class="rounded">Desarrollador</th>
        <th scope="col" class="rounded">Estado en el Sprint</th>
        <th scope="col" class="rounded">Horas Estimadas</th>
        <th scope="col" class="rounded">Horas Empleadas</th>
        <th scope="col" class="rounded">Horas Restantes</th>
        <th scope="col" class="rounded" >Pertenece al Flujo</th>
        <th scope="col" class="rounded">Actividad en el Flujo</th>
        <th scope="col" class="rounded" >Estado en el Flujo</th>
	</tr>
{% endblock %}
{% block MostrarDatos%}
    {% for historia in historias %}

		    	    <tr>
                        <td align="center">{{ historia.nombre }}</td>
                        <td align="center">{{ historia.prioridad }}</td>
                        <td align="center">{{ historia.val_negocio }}</td>
                        <td align="center">{{ historia.val_tecnico }}</td>
                        <td align="center">{{ historia.asignado }}</td>
                        <td align="center">{{ historia.estado_sprint }}</td>
                        <td align="center">{{ historia.size }}</td>
                        <td align="center">{{ historia.acumulador }}</td>
                        <td align="center">
                        <script language="JavaScript">
                            var valor1;
                            var valor2;

                            valor1 = {{historia.size}}
                            valor2 = {{historia.acumulador }}
                            resta = valor1 - valor2

                            document.write(resta);
                        </script>
                        </td>
                        <td align="center">{{ historia.flujo }}</td>
                        <td align="center">{{ historia.actividad }}</td>
                        <td align="center">{{ historia.estado }}</td>

                    </tr>

    {% endfor %}
{% endblock %}
</table>
{% block Botones %}


    <form action="/sprint/" method="post">{% csrf_token %}
        <input type="hidden" name='codigo' value={{ logueado.id }} >
        <input type="hidden" name='login' value={{ logueado.id }} >
        <input type="hidden" name='proyecto' value={{ proyecto.id}}>
        <input type="submit" value="<Atras" id="submitt">
    </form>

{% endblock %}