{% extends 'PlantillaBaseListas.html' %}
{% block title %}::Administracion de Sprints::{% endblock %}
{% block TituloMenu %} SPRINT BACKLOG {% endblock %}
{% block MigasDePan %}>>>Inicio >>> Proyecto: <h4> {{ proyecto.nombre }} </h4>>> Sprint: <h4>{{ sprint.nombre }}</h4>{% endblock %}

{% block content %}


{% endblock %}

{% block Columnas %}
<table width="1000" align="center" border="2" bgcolor="skyblue">
    <caption style="color:#0000FF;font-size:20pt;font-style:verdana"> Datos Sprint</caption>
    <td>
    <h6 style="color:#FFFFFF"> Nombre: <h6>{{ sprint.nombre }}</h6> </h6>
    <h6 style="color:#FFFFFF"> Pertenece al proyecto: <h6>{{ sprint.proyecto.nombre }}</h6></h6>
    <h6 style="color:#FFFFFF"> Descripcion: <h6>{{ sprint.descripcion }}</h6> </h6>
    <td>
    <h6 style="color:#FFFFFF"> Fecha de Inicio: <h6>{{ sprint.fecha_inicio }}</h6> </h6>
    <h6 style="color:#FFFFFF"> Fecha de Fin: <h6>{{ sprint.fecha_fin }} </h6></h6>
    </td>
    <td>
    <h6 style="color:#FFFFFF"> Duracion: <h6>{{ sprint.duracion }} dias </h6></h6>
    <h6 style="color:#FFFFFF"> Estado: <h6>{{ sprint.estado }} </h6></h6>
    </td>
    <td>
    <h6 style="color:#FFFFFF"> HISTORIAS ASIGNADAS: </h6>
    {% for historia in historias %}
        <h6> * {{ historia.nombre }}</h6> </br>

    {% endfor %}
    <h6 style="color:#FFFFFF">USUARIOS ASIGNADOS AL SPRINT:</h6>
    {% for usuario in usuarios %}
        <h6>* {{ usuario.usuario }}..... trabaja {{ usuario.horas_sprint }} hora/s por dia </h6></br>

    {% endfor %}
    </td>
    <td>
    <h6 style="color:#FFFFFF"> Capacidad Productiva: <h6>{{ capacidad }} horas reloj </h6></h6>
    <h6 style="color:#FFFFFF"> Horas Estimadas de Trabajo: <h6>{{ horas_trabajo }} horas reloj </h6></h6>
    <h6 style="color:#FFFFFF"> Saldo en horas de Trabajo: <h6>{{ saldo }} horas reloj </h6></h6>
    </td>
</table>
<br>

<table border="2"  bgcolor="white" style="font-size:15px" >
    <caption style="color:#0000FF;font-size:20pt;font-style:verdana"> Historias de Usuario Asignadas al Sprint </caption>

    <tr >
		<th scope="col" class="rounded" >Nombre</th>
		<th scope="col" class="rounded">Prioridad</th>
		<th scope="col" class="rounded" >Valor de Negocio</th>
        <th scope="col" class="rounded">Valor Tecnico</th>
        <th scope="col" class="rounded">Desarrollador</th>
        <th scope="col" class="rounded">Estado en el Sprint</th>
        <th scope="col" class="rounded">Horas Estimadas</th>
        <th scope="col" class="rounded">Horas Empleadas</th>
        <th scope="col" class="rounded">Horas Restantes</th>
        <th scope="col" class="rounded">Horas en Sprint</th>
        <th scope="col" class="rounded" >Pertenece al Flujo</th>
        <th scope="col" class="rounded">Actividad en el Flujo</th>
        <th scope="col" class="rounded" >Estado en el Flujo</th>
        <th scope="col" class="rounded" >Finalizar Historia</th>
        <th scope="col" class="rounded" >Cargar Horas</th>
	</tr>
{% endblock %}
{% block MostrarDatos%}
    {% for historia in historias %}

		    	    <tr>
                        <td align="center">{{ historia.nombre }}</td>
                        <td align="center">{{ historia.prioridad }}</td>
                        <td align="center">{{ historia.val_negocio }}</td>
                        <td align="center">{{ historia.val_tecnico }}</td>
                        <td align="center">{{ historia.asignado }}</td>
                        <td align="center">{{ historia.estado_sprint }}</td>
                        <td align="center">{{ historia.size }}</td>
                        <td align="center">{{ historia.acumulador }}</td>
                        <td align="center">
                        <script language="JavaScript">
                            var valor1;
                            var valor2;

                            valor1 = {{historia.size}}
                            valor2 = {{historia.acumulador }}
                            resta = valor1 - valor2

                            document.write(resta);
                        </script>
                        </td>
                        <td align="center">{{ historia.horas_sprint }}</td>
                        <td align="center">{{ historia.flujo }}</td>
                        <td align="center">{{ historia.actividad }}</td>
                        <td align="center">{{ historia.estado }}</td>

                        <td align="center">
                        <form action="/sprint/finalizar/" method="post">{% csrf_token %}
                            <input type="hidden" name='codigo' value={{ logueado.id }} >
                            <input type="hidden" name='login' value={{ logueado.id }} >
                            <input type="hidden" name='proyecto' value={{ proyecto.id}}>
                            <input type="hidden" name='historia' value={{ historia.id}}>
                            <input type="hidden" name='sprint' value={{ sprint.id}}>
                            {% if historia.estado_sprint == "En Progreso" %}
                                <input style="color:#0EAE0E" type="submit" value="Finalizar" id="submitt">
                            {% else %}
                                <input style="color:#0EAE0E" type="submit" value="Finalizar" id="submitt" disabled>
                            {% endif %}
                        </form>
                        </td>

                        <td align="center">
                        <form action="/sprint/cargar/" method="post">{% csrf_token %}
                            <input type="hidden" name='codigo' value={{ logueado.id }} >
                            <input type="hidden" name='login' value={{ logueado.id }} >
                            <input type="hidden" name='proyecto' value={{ proyecto.id}}>
                            <input type="hidden" name='historia' value={{ historia.id}}>
                            <input type="hidden" name='sprint' value={{ sprint.id}}>
                            {% if historia.estado_sprint == "No iniciado" %}
                                <input style="color:#1F1DBF" type="submit" value="Cargar" id="submitt">
                            {% else %}
                                <input style="color:#1F1DBF" type="submit" value="Cargar" id="submitt" disabled>
                            {% endif %}
                        </form>
                        </td>

                    </tr>

    {% endfor %}
{% endblock %}
</table>
{% block Botones %}


    <form action="/sprint/" method="post">{% csrf_token %}
        <input type="hidden" name='codigo' value={{ logueado.id }} >
        <input type="hidden" name='login' value={{ logueado.id }} >
        <input type="hidden" name='proyecto' value={{ proyecto.id}}>
        <input type="submit" value="<Atras" id="submitt">
    </form>

{% endblock %}