{% extends 'PlantillaBaseListas.html' %}
{% block title %}::Menu SPRINTS::{% endblock %}
{% block TituloMenu %} ADMINISTRACION DE SPRINTS {% endblock %}
{% block MigasDePan %}>>Inicio>>Proyecto:<h5>{{ proyecto.nombre }}</h5>>>Sprint{% endblock %}

{% block TituloLista %} Lista de Sprints del Proyecto {% endblock %}

{% block content %}

{% endblock %}
{% block Columnas %}
    <tr>
		<th scope="col" class="rounded" style="color:#FFFFFF">Nombre</th>
		<th scope="col" class="rounded" >Duracion</th>
        <th scope="col" class="rounded" style="color:#FFFFFF">Estado</th>
		<th scope="col" class="rounded">Eliminar</th>
        <th scope="col" class="rounded" style="color:#FFFFFF">Modificar</th>
        <th scope="col" class="rounded">Cambiar Estado</th>
        <th scope="col" class="rounded" style="color:#FFFFFF">Asignar Historias</th>
        <th scope="col" class="rounded">Desasignar Historias</th>
        <th scope="col" class="rounded" style="color:#FFFFFF">Ver Informacion</th>
        <th scope="col" class="rounded">Equipo de Trabajo</th>
        <th scope="col" class="rounded" style="color:#FFFFFF">Ver Sprint Backlog</th>
        <th scope="col" class="rounded">Asignar Usuario - Flujo</th>
	</tr>
{% endblock %}
{% block MostrarDatos%}
    {% for sprint in lista_sprints %}

		    	    <tr>
                        {% ifequal sprint.estado 'En Ejecucion' %}
                            <td style="color:#D509C8; font-style:oblique">{{ sprint.nombre }}</td>
                        {% endifequal %}
                        {% ifnotequal sprint.estado 'En Ejecucion' %}
                            <td>{{ sprint.nombre }}</td>
                        {% endifnotequal %}
                        {% ifequal sprint.estado 'En Ejecucion' %}
                            <td style="color:#D509C8; font-style:oblique">{{ sprint.duracion }}</td>
                        {% endifequal %}
                        {% ifnotequal sprint.estado 'En Ejecucion' %}
                            <td>{{ sprint.duracion }}</td>
                        {% endifnotequal %}
                        {% ifequal sprint.estado 'En Ejecucion' %}
                            <td style="color:#D509C8; font-style:oblique">{{ sprint.estado }}</td>
                        {% endifequal %}
                        {% ifnotequal sprint.estado 'En Ejecucion' %}
                            <td>{{ sprint.estado }}</td>
                        {% endifnotequal %}
                        <td>
                            <form action= "/sprint/eliminar/" method="post"> {% csrf_token %}
                                <input type="hidden" name='proyecto' value={{ proyecto.id }} >
                                <input type="hidden" name='login' value={{ logueado.id }} >
                                <input type="hidden" name='sprint' value={{ sprint.id }} >
                                <input type="submit" value="Eliminar" id="submitt">
                            </form>
                        </td>
                        <td>
                            <form action= "/sprint/modificar/" method="post"> {% csrf_token %}
                                <input type="hidden" name='proyecto' value={{ proyecto.id }} >
                                <input type="hidden" name='login' value={{ logueado.id }} >
                                <input type="hidden" name='sprint' value={{ sprint.id }} >
                                <input type="submit" value="Modificar" id="submitt">
                            </form>
                        </td>
                        <td>
                            <form action= "/sprint/estado/" method="post"> {% csrf_token %}
                                <input type="hidden" name='proyecto' value={{ proyecto.id}} >
                                <input type="hidden" name='login' value={{ logueado.id }} >
                                <input type="hidden" name='sprint' value={{ sprint.id }} >
                                <input type="submit" value="Cambiar Estado" id="submitt">
                            </form>
                        </td>

                        <td>
                            <form action= "/sprint/asignar/" method="post"> {% csrf_token %}
                                <input type="hidden" name='proyecto' value={{ proyecto.id}} >
                                <input type="hidden" name='login' value={{ logueado.id }} >
                                <input type="hidden" name='sprint' value={{ sprint.id }} >
                                <input type="submit" value="Asignar Historias" id="submitt">
                            </form>
                        </td>

                        <td>
                            <form action= "/sprint/desasignar/" method="post"> {% csrf_token %}
                                <input type="hidden" name='proyecto' value={{ proyecto.id}} >
                                <input type="hidden" name='login' value={{ logueado.id }} >
                                <input type="hidden" name='sprint' value={{ sprint.id }} >
                                <input type="submit" value="Desasignar Historias" id="submitt">
                            </form>
                        </td>

                        <td>
                            <form action= "/sprint/informacion/" method="post"> {% csrf_token %}
                                <input type="hidden" name='proyecto' value={{ proyecto.id}} >
                                <input type="hidden" name='login' value={{ logueado.id }} >
                                <input type="hidden" name='sprint' value={{ sprint.id }} >
                                <input type="submit" value="Ver Informacion" id="submitt">
                            </form>
                        </td>

                        <td>
                            <form action= "/sprint/equipo/" method="post"> {% csrf_token %}
                                <input type="hidden" name='proyecto' value={{ proyecto.id}} >
                                <input type="hidden" name='login' value={{ logueado.id }} >
                                <input type="hidden" name='sprint' value={{ sprint.id }} >
                                <input type="submit" value="Equipo de Trabajo" id="submitt">
                            </form>
                        </td>

                        <td>
                            <form action= "/sprint/sprintbacklog/" method="post"> {% csrf_token %}
                                <input type="hidden" name='proyecto' value={{ proyecto.id}} >
                                <input type="hidden" name='login' value={{ logueado.id }} >
                                <input type="hidden" name='sprint' value={{ sprint.id }} >
                                <input type="submit" value="Ver Sprint Backlog" id="submitt">
                            </form>
                        </td>

                        <td>
                            <form action= "/sprint/asignarUF/" method="post"> {% csrf_token %}
                                <input type="hidden" name='proyecto' value={{ proyecto.id}} >
                                <input type="hidden" name='login' value={{ logueado.id }} >
                                <input type="hidden" name='sprint' value={{ sprint.id }} >
                                <input type="submit" value="Asignar Usuario y Flujo" id="submitt">
                            </form>
                        </td>
                    </tr>

    {% endfor %}
{% endblock %}
{% block Botones %}
    <form action= "/sprint/crear/" method="post"> {% csrf_token %}
        <input type="hidden" name='login' value={{ logueado.id }} >
        <input type="hidden" name='proyecto' value={{ proyecto.id }} >
     	<input type="submit" value="Crear Sprint" id="submitt">
    </form>

    <form action= "/proyecto/ingresar/" method="post"> {% csrf_token %}
        <input type="hidden" name='login' value={{ logueado.id }} >
        <input type="hidden" name='proyecto' value={{ proyecto.id }} >
     	<input type="submit" value="< Atras" id="submitt">
    </form>

{% endblock %}