{% extends 'PlantillaBaseMetodos.html' %}
{% block title %}::Asignar/Desasignar Permisos a Rol::{% endblock %}
{% block TituloMenu %} ASIGNAR/DESASIGNAR PERMISOS A ROL {% endblock %}
{% block TituloOperacion %} Formulario Rol {% endblock %}
{% block DatosOperacion %}
    <h1> <font color = 'green'>ASIGNACION DE PERMISOS A ROL </font></h1>
    <form action="/inicio/rol/asignarpermisos/confirmar/" method="POST">{% csrf_token %}
        <fieldset>
            <dl><div style="text-align: center;"><span style="color:#ffaf1e">Obs: Las asignaciones de permisos afectaran a todos los usuarios que posean dicho rol</span></div></dl>
            <dl><dt><label>Nombre: {{ rol.nombre }}</label></dt><dd>
                <input type="hidden" name="nombre_rol" value="{{ rol.id }}"/></dd>
                <!--<input type="text" name="nombre_nuevo_rol" value="{{ rol.nombre }}" required/></dd>!-->
            </dl>
            <p><h3>Permisos de Administración de Proyectos</h3></p>
            <p>
                <input type="checkbox" name="crear_proyecto" {% if rol.crear_proyecto %} checked {% endif %}>Crear proyecto
                <input type="checkbox" name="modificar_proyecto" {% if rol.modificar_proyecto %} checked {% endif %}>Modificar proyecto
                <input type="checkbox" name="eliminar_proyecto" {% if rol.eliminar_proyecto %} checked {% endif %}>Eliminar proyecto
                <input type="checkbox" name="cerrar_proyecto" {% if rol.cerrar_proyecto %} checked {% endif %}>Cerrar proyecto
                <input type="checkbox" name="inicializar_proyecto" {% if rol.inicializar_proyecto %} checked {% endif %}>Inicializar proyecto
                <input type="checkbox" name="ingresar_proyecto" {% if rol.ingresar_proyecto %} checked {% endif %}>Ingresar a proyecto
            </p>
            <p><h3>Permisos de Administración de Usuarios</h3></p>
            <p>
                <input type="checkbox" name="crear_usuario"{% if rol.crear_usuario %} checked {% endif %}>Crear usuario
                <input type="checkbox" name="modificar_usuario"{% if rol.modificar_usuario %} checked {% endif %}>Modificar usuario
                <input type="checkbox" name="eliminar_usuario"{% if rol.eliminar_usuario %} checked {% endif %}>Eliminar usuario
            </p
            <p><h3>Permisos de Administración de Roles</h3></p>
            <p>
                <input type="checkbox" name="agregar_rol"{% if rol.agregar_rol %} checked {% endif %}>Agregar rol
                <input type="checkbox" name="modificar_rol"{% if rol.modificar_rol %} checked {% endif %}>Modificar rol
                <input type="checkbox" name="eliminar_rol"{% if rol.eliminar_rol %} checked {% endif %}>Eliminar rol
            </p>
            <p><h3>Permisos de Generar resumen de clientes y burndownchart</h3></p>
            <p>
                <input type="checkbox" name="generar_reporte"{% if rol.generar_reporte %} checked {% endif %}>Generar reporte de proyecto
                <input type="checkbox" name="crear_burndown"{% if rol.crear_burndown %} checked {% endif %}>Crear burndownchart
            </p>
            <p><h3>Permisos de Asignación</h3></p>
            <p>
                <input type="checkbox" name="asignar_usuario_inicial"{% if rol.asignar_usuario_inicial %} checked {% endif %}>Asignar usuario inicial
                <input type="checkbox" name="asignar_permisos_roles"{% if rol.asignar_permisos_roles %} checked {% endif %}>Asignar permisos a roles
                <input type="checkbox" name="asignar_roles_usuario"{% if rol.asignar_roles_usuario %} checked {% endif %}>Asignar roles a usuario
                <input type="checkbox" name="asignar_usuarios_proyecto"{% if rol.asignar_usuarios_proyecto %} checked {% endif %}>Asignar usuarios a proyecto
                <input type="checkbox" name="asignar_usuarios_flujo"{% if rol.asignar_usuarios_flujo %} checked {% endif %}>Asignar usuarios a flujo
                <input type="checkbox" name="asignar_equipo"{% if rol.asignar_equipo %} checked {% endif %}>Asignar equipo
            </p>
            <p><h3>Permisos de Administración de Sprints</h3></p>
            <p>
                <input type="checkbox" name="agregar_sprint"{% if rol.agregar_sprint %} checked {% endif %}>Agregar sprint
                <input type="checkbox" name="modificar_sprint"{% if rol.modificar_sprint %} checked {% endif %}>Modificar sprint
                <input type="checkbox" name="eliminar_sprint"{% if rol.eliminar_sprint %} checked {% endif %}>Eliminar sprint
                <input type="checkbox" name="activar_sprint"{% if rol.activar_sprint %} checked {% endif %}>Activar sprint
                <input type="checkbox" name="ver_sprintbacklog"{% if rol.ver_sprintbacklog %} checked {% endif %}>Ver sprintbacklog
            </p>
            <p><h3>Permisos de Administración de User Stories</h3></p>
            <p>
                <input type="checkbox" name="agregar_historia"{% if rol.agregar_historia %} checked {% endif %}>Agregar historia
                <input type="checkbox" name="modificar_historia"{% if rol.modificar_historia %} checked {% endif %}>Modificar historia
                <input type="checkbox" name="eliminar_historia"{% if rol.eliminar_historia %} checked {% endif %}>Eliminar historia
                <input type="checkbox" name="cargar_horas"{% if rol.cargar_horas %} checked {% endif %}>Cargar horas trabajadas
                <input type="checkbox" name="cambiar_actividad_estado"{% if rol.cambiar_actividad_estado %} checked {% endif %}>Cambiar actividad y estado
                <input type="checkbox" name="ver_historial"{% if rol.ver_historial %} checked {% endif %}>Ver historial
                <input type="checkbox" name="ver_detalles"{% if rol.ver_detalles %} checked {% endif %}>Ver detalles
                <input type="checkbox" name="cancelar_historia"{% if rol.cancelar_historia %} checked {% endif %}>Cancelar historia
                <input type="checkbox" name="asignar_historia"{% if rol.asignar_historia %} checked {% endif %}>Asignar historia
                <input type="checkbox" name="desasignar_historia"{% if rol.desasignar_historia %} checked {% endif %}>Desasignar historia
                <input type="checkbox" name="release_historia"{% if rol.release_historia %} checked {% endif %}>Release historia
                <input type="checkbox" name="finalizar_historia"{% if rol.finalizar_historia %} checked {% endif %}>Finalizar historia
                <input type="checkbox" name="horas_sprint"{% if rol.horas_sprint %} checked {% endif %}>Cargar horas a trabajar en sprint

            </p>
            <p><h3>Permisos de Administración de Tabla kanban</h3></p>
            <p>
                <input type="checkbox" name="crear_flujo"{% if rol.crear_flujo %} checked {% endif %}>Crear flujo
                <input type="checkbox" name="modificar_flujo"{% if rol.modificar_flujo %} checked {% endif %}>Modificar flujo
                <input type="checkbox" name="eliminar_flujo"{% if rol.eliminar_flujo %} checked {% endif %}>Eliminar flujo
                <input type="checkbox" name="ver_tabla"{% if rol.ver_tabla %} checked {% endif %}>Ver tabla
            </p>
            <p><h3>Permisos de Administración de Actividades</h3></p>
            <p>
                <input type="checkbox" name="crear_actividad"{% if rol.crear_actividad %} checked {% endif %}>Crear actividad
                <input type="checkbox" name="modificar_actividad"{% if rol.modificar_actividad %} checked {% endif %}>Modificar actividad
                <input type="checkbox" name="eliminar_actividad"{% if rol.eliminar_actividad %} checked {% endif %}>Eliminar actividad
                <input type="checkbox" name="establecer_secuencia"{% if rol.establecer_secuencia %} checked {% endif %}>Establecer secuencia
                <input type="checkbox" name="restablecer_secuencia"{% if rol.restablecer_secuencia %} checked {% endif %}>Restablecer secuencia
            </p>
        <input type="hidden" name='proyecto' value={{ proyecto.id }} >
        <input type="hidden" name='login' value={{ logueado.id }} >
        <input type="hidden" name='rol' value={{ rol.id }}>
        <input type="submit" value="Actualizar">
    </form>
    <form action="/inicio/rol/" method="POST">{% csrf_token %}
        <input type="hidden" name='proyecto' value={{ proyecto.id }} >
        <input type="hidden" name='login' value={{ logueado.id }} >
        <input type="submit" value="<Atras">
    </form>
{% endblock %}