{% extends 'PlantillaBase.html' %}
{% block poup %}{% endblock %}

{% block Content %}
    <div class="header">
        <div class="right_header"> <!--a href="#" class="messages">Messages</a-->
            <form action="/salir/" method="get">{% csrf_token %}
                <u> Usuario</u>:  {{ logueado.username }}  ||
                <a href="/salir/" class="logout">Salir del Sistema</a>

            </form>
        </div>
        <!--<div align="right" > <!--a href="#" class="messages">Messages</a>
                <u> Rol/es</u>: {% for rol in logueado.roles.all %}
                                    {{ rol.nombre }}:
                                {% endfor %}
        </div>-->
	</div>
    <div class="main_content">
    	<div style="text-align: center;"><b><h1><font color="white">{% block TituloMenu %}{% endblock %}</font></h1></b></div>
        {% block MigasDePan %}{% endblock %}
        <div class="center_content">
            <div class="left_content">
                <div class="sidebar_box">
         		    <div class="sidebar_box_content">
         			    <h3></h3>

         				<p></p>
      				</div>
         		</div>
    		</div>
            <div class="right_content">
				<br>
				<br>
                <h2>{% block TituloLista %}{% endblock %}</h2>
                <table id="rounded-corner" summary="2007 Major IT Companies' Profit">
    				<thead>{% block Columnas %}{% endblock %}</thead>
                    <tbody>{% block MostrarDatos%}{% endblock %}</tbody>
                </table>
                <div style="text-align: center;"><span style="color:#FF0000">{{ error }}</span></div>
                <table>{% block Botones %}{% endblock %}</table>
            </div>
            <div class="clear"> </div>
        </div>
    </div>
{% endblock %}