{% extends 'PlantillaBaseMetodos.html' %}
{% block title %}::Asignar Roles::{% endblock %}
{% block TituloMenu %}ASIGNAR ROLES{% endblock %}
{% block TituloOperacion %}Formulario Usuario Roles{% endblock %}
{% block DatosOperacion %}
<form action="/proyecto/usuario/asignar/confirmar/" method="POST" class="niceform">{% csrf_token %}

        <dl><dt><label>Usuario: {{ usuario_actual.username }}</label></dt><dd><input type="hidden" value= {{ usuario_actual.username }} name="user" id="" size="54" required/></dd></dl>

        {% for rol in roles_asignados %}
            <td><input type="checkbox" name={{ rol.nombre }} checked >{{ rol.nombre }}</td><br>
        {% endfor %}
        {% for r in no_asignados %}
            <input type="checkbox" name={{ r.nombre }}>{{ r.nombre }}</td><br>
        {% endfor %}
        <input type="hidden" name='login' value= {{ logueado.id }} >
        <input type="hidden" name='user' value= {{ usuario_actual.id }} >
        <input type="submit" value="Asignar">
</form>

    <form action="/proyecto/" method="POST">{% csrf_token %}
        <input type="hidden" name='login' value= {{ logueado.id }} >
        <input type="submit" value="Cancelar" id="submit">
    </form>

<form action="/proyecto/usuario/gestionarrol/" method="POST">{% csrf_token %}
        <input type="hidden" name='login' value= {{ logueado.id }} >
        <input type="hidden" name='user' value= {{ usuario_actual.id }} >
        <input type="submit" value="Gestionar roles de sistema" id="submit">
</form>


{% endblock %}

