{% extends 'PlantillaBaseMetodos.html' %}
{% block title %}::Asignar Roles::{% endblock %}
{% block TituloMenu %}ASIGNAR ROLES{% endblock %}
{% block TituloOperacion %}Formulario Usuario Roles{% endblock %}
{% block DatosOperacion %}
    <form action="/proyecto/usuario/asignar/confirmar/" method="POST" class="niceform">{% csrf_token %}

        <dl><dt><label>Usuario: {{ usuario.username }}</label></dt><dd><input type="hidden" value= "{{ usuario.username }}" name="user" id="" size="54" required/></dd></dl>

        {% for rol in lista_roles %}
            <input type="checkbox" name="{{ rol.nombre }}" >{{ rol.nombre }}<br>

        <input type="hidden" name='login' value= "{{ logueado.id }}" >
        <input type="hidden" name='user' value= "{{ usuario.id }}" >
        <input type="submit" value="Asignar">
    </form>

    <form action="/proyecto/" method="POST">{% csrf_token %}
        <input type="hidden" name='login' value= "{{ logueado.id }}" >
        <input type="submit" value="Cancelar" id="submit">
    </form>
        {% endfor %}
{% endblock %}
{% block Botones %}
{% endblock %}
