{% extends 'PlantillaBaseMetodos.html' %}
{% block title %}::Crear Usuario::{% endblock %}
{% block TituloMenu %} CREAR USUARIO {% endblock %}
{% block TituloOperacion %} Usuario Creado {% endblock %}
{% block DatosOperacion %}
    <center><h3>El usuario se cre&oacute exitosamente. </h3></center>
{% endblock %}
{% block Botones %}
    <form action="/proyecto/usuario/" method="POST"> {% csrf_token %}
        <input type="hidden" name='login' value={{ logueado.id }} >
        <center><input type="submit" value="Aceptar" id="submitt"></center>
    </form>
{% endblock %}