{% extends 'PlantillaBaseMetodos.html' %}
{% block title %}::Editar Rol::{% endblock %}
{% block TituloMenu %} EDITAR ROL {% endblock %}
{% block TituloOperacion %} Rol Editado {% endblock %}
{% block DatosOperacion %}
    <center><h3>El rol se edito exitosamente. </h3></center>
{% endblock %}
{% block Botones %}
    <form action="/proyecto/usuario/gestionarrol/" method="POST"> {% csrf_token %}
        <input type="hidden" name='login' value={{ logueado.id }} >
        <center><input type="submit" value="Aceptar"></center>
    </form>
{% endblock %}