{% extends 'PlantillaBase.html' %}
{% block title %}::Cambio Estado::{% endblock %}
{% block Content %}
    <div id="main_container">
		    <div class="header"></div>
    		<div class="main_content">
    			<div style="text-align: center;"><b><h1><font color="red">CONFIRMACION DE ELIMINACION</font></h1></b></div>
 			    <div class="center_content">
   				    <div class="right_content">
				    	<br>
					    <br>
				        <center><h3>Desea eliminar el usuario? &lt;&lt;&lt;INACTIVO&gt;&gt;&gt;</h3></center>
                    </div>   <!--end of center content -->
    			    <div class="clear"></div>

    		    </div> <!--end of main content-->
                <form action="/inicio/usuario/cambio_estado/" method="POST"> {% csrf_token %}
                    <input type="hidden" name='codigo' value= "{{ usuario.id }}" >
                    <input type="submit" value="Aceptar">
                </form>

                <form action="/inicio/usuario/" method="POST"> {% csrf_token %}
                    <input type="submit" value="Cancelar">
                </form>

		     </div>

    </div>
{% endblock %}