{% extends 'PlantillaBase.html' %}
{% block title %} ::Administrar Usuario::{% endblock %}
{% block Content %}
    <div id="main_container">
		<div class="header">
            <br>
		    <br>
		</div>
    	<br>
		<br>
    	<div class="main_content">
    		<div style="text-align: center;"><b><h1><font color="orange">ADMINISTRACION DE USUARIOS</font></h1></b></div>
 		<div class="center_content">
    	<div class="left_content">
    		<div class="sidebar_box">
         	    <div class="sidebar_box_top"></div>
         	    <div class="sidebar_box_top"></div>
         	    <div class="sidebar_box_top"></div>
         	    <div class="sidebar_box_content">

         	      	<!--<img src="{{ STATIC_URL }}images/info.png" alt="" title="" class="sidebar_icon_right" />-->

      		  	</div>
         	</div>
     	</div>
    	<div class="right_content">
		    <br>
		    <br>
		    <h2>Lista de Usuarios del Sistema</h2>
            	<table id="rounded-corner" summary="2007 Major IT Companies' Profit">
    		    	<thead>
    			        <tr>
						    <th scope="col" class="rounded">Nombre</th>
						    <th scope="col" class="rounded">Apellido</th>
                            <th scope="col" class="rounded">Cedula</th>
                            <th scope="col" class="rounded">Email </th>
                            <th scope="col" class="rounded"><font color="green">Editar</font></th>
                            <th scope="col" class="rounded"><font color="red">Eliminar</font></th>
		        		</tr>
 					</thead>
        			<!--tfoot>
		            	<tr>
		                	<td colspan="3" class="rounded-foot-left"><em><!ALGUN COMENTARIO></em></td>
		            	    <td class="rounded-foot-right">&nbsp;</td>
        		        </tr>
		            </tfoot-->
                	<tbody>
                        {% for usuario in lista_usuarios %}
                        {% if usuario.estado %}
		    	        <tr>

		                    <td>{{ usuario.nombre }}</td>
                            <td>{{ usuario.apellido}} </td>
                            <td>{{ usuario.cedula }} </td>
                            <td> {{ usuario.email}} </td>
                            <td>
                                <form action="/inicio/usuario/editar/" method="post">{% csrf_token %}
                                    <input type="hidden" name='codigo' value="{{ usuario.id }}" >
                                    <input type="submit" value="Modificar"><br>
                                </form>
                            </td>
		                    <td>
                                <form action="/inicio/usuario/cambio_estado/" method="post">{% csrf_token %}
                                    <input type="hidden" name='codigo' value= "{{ usuario.id }}" >
                                    <input type="submit" value="Eliminar"><br>
                                </form>
		                    </td>
		                </tr>
                        {% endif %}
                        {% endfor %}
                    </tbody>
	            </table>
                <form action= "/inicio/usuario/crear/" method="POST"> {% csrf_token %}
                    <input type="submit" value="Crear">
                </form>
                <form action="/inicio/" method="POST"> {% csrf_token %}
                    <input type="submit" value="<Menú Inicio"><br>
                </form>
	            <!--a href="#" class="bt_green"><span class="bt_green_lft"></span><strong>Crear Usuario</strong><span class="bt_green_r"></span></a>
     	        <a href="#" class="bt_blue"><span class="bt_blue_lft"></span><strong>Cambio de Estado</strong><span class="bt_blue_r"></span></a>
     	        <a href="#" class="bt_blue"><span class="bt_blue_lft"></span><strong>Consultar Usuario</strong><span class="bt_blue_r"></span></a-->
  	        </div>   <!--end of center content -->
    	    <div class="clear"></div>
        </div> <!--end of main content-->
   </div>

{% endblock %}