{% extends 'PlantillaBaseListas.html' %}
{% block title %}::Administrar Usuario::{% endblock %}
{% block TituloMenu %}ADMINISTRACION DE USUARIOS{% endblock %}
{% block MigasDePan %}>>>Inicio>>Usuarios{% endblock %}
{% block TituloLista %}Lista de Usuarios{% endblock %}
{% block Columnas %}
    <tr>

		<center><th scope="col" class="rounded">Nombre</th></center>
		<center><th scope="col" class="rounded">Apellido</th></center>
        <center><th scope="col" class="rounded">Cedula</th></center>
        <center><th scope="col" class="rounded">Email</th></center>
        <center><th scope="col" class="rounded">Eliminar</th></center>
        <center><th scope="col" class="rounded">Asignar Roles</th></center>

	</tr>
{% endblock %}
{% block MostrarDatos %}
    {% for usuario in lista_usuarios %}
		    <tr>

		        <td>{{ usuario.nombre }}</td>
                <td>{{ usuario.apellido }}</td>
                <td>{{ usuario.cedula }}</td>
                <td>{{ usuario.email }}</td>

		        <td>
                    <form action="/proyecto/usuario/eliminar/" method="post">{% csrf_token %}
                        <input type="hidden" name='codigo' value="{{ usuario.id }}" >
                        <input type="hidden" name='login' value={{ logueado.id }} >
                        <input type="submit" value="Eliminar" id="submitt">
                    </form>
		        </td>

                <td>
                    <form action="/proyecto/usuario/asignar/" method="post">{% csrf_token %}
                        <input type="hidden" name='usuario' value="{{ usuario.id }}" >
                        <input type="hidden" name='login' value={{ logueado.id }} >
                       <input type="submit" value="Asignar roles" id="submitt">
                    </form>
                </td>
                <td>

		        </td>
		    </tr>
    {% endfor %}
{% endblock %}
{% block Botones%}
    <form action= "/proyecto/usuario/crear/" method="POST"> {% csrf_token %}
        <input type="hidden" name='login' value={{ logueado.id }} >
        <input type="submit" value="Crear" id="submitt">
    </form>
    <form action="/proyecto/" method="POST"> {% csrf_token %}
        <input type="hidden" name='login' value={{ logueado.id }} >
        <input type="submit" value="<Menú Inicio" id="submitt"><br>
    </form>
{% endblock %}